<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maps</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/stylesheet.css">

</head>
<body>

	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
	<div id="map">
		<input id="initial_location" type="hidden" name="location" value="{{location}}">
		<input id="initial_latitude" type="hidden" name="location" value="{{latitude}}">
		<input id="initial_longitude" type="hidden" name="location" value="{{longitude}}">
	</div>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6qaM40Um39N4vywpaU_Hj5NwoD2FB3PA&libraries=places&callback=initialize"></script>
	<script src="static/js/script.js"></script>
</body>
</html>