<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Doodle Maps</title>
	<!-- Latest compiled and minified CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/script.js"></script>

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/stylesheet.css">

</head>
<body>
	<h1>Doodle Maps</h1>

	<!--TODO: HOME PAGE STILL DOESN'T WORK WITH SPECIFIC BUILDINGS FIX-->

	<form action="/home/search" method="post">
		<input id="address" type="search" name="address">
		<input type="submit" value="Search">
	</form>
</body>
</html>